<mat-toolbar color="primary">Material project</mat-toolbar>

<div class="container">
  <mat-form-field>
    <mat-label>Izaberi voce</mat-label>
    <mat-select [(ngModel)]="selectedFruit">
      <mat-option value="jabuka">Jabuka</mat-option>
      <mat-option value="banana">Banana</mat-option>
      <mat-option value="malina">Malina</mat-option>
      <mat-option value="kruska">Kruskaa</mat-option>
      <mat-option value="lubenica">Lubenica</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Unesi ime</mat-label>
    <input matInput type="text" [(ngModel)]="selectedName">
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="showSelection()">
    <mat-icon>home</mat-icon>
    Potvrdi
  </button>

  <div *ngIf="showResult && selectedFruit && selectedName"class="selected-info">
     {{ selectedName }} je izabrao {{selectedFruit}}
  </div>
</div>
<mat-toolbar color="primary" class="footer">
 <span class="footer-content">
    &copy; 2023 All rights reserved.
  </span>
</mat-toolbar>
